Repository MovieReviewComment/Mr.C, pull requests merged in 2023-06, with the labels that each got.

#32 [#28] Access logging on HTTP server
  api/config/default.yaml
  api/package-lock.json
  api/package.json
  api/src/controller/http/middleware.ts
  api/src/controller/http/server.ts
  api/src/main.ts
Labels: enhancement, api

#36 [#33] Route Home page and Set up test
  ui/.eslintrc.js
  ui/package.json
  ui/public/index.html
  ui/src/App.js
  ui/src/App.test.js
  ui/src/components/Header.jsx
  ui/src/hooks/use-title.jsx
  ui/src/index.js
  ui/src/pages/Home.jsx
  ui/src/pages/Home.test.js
  ui/src/setupTests.js
  ui/yarn.lock
Labels: enhancement, ui

#37 [#19] Setup ui test workflow
  .github/workflows/run-test.yaml
  ui/.nvmrc
Labels: enhancement, ui

#38 [#29] Response 500 if uncaught exception occurred
  api/config/test.yaml
  api/package-lock.json
  api/package.json
  api/src/controller/http/dev/dev.v1.controller.ts
  api/src/controller/http/errors.ts
  api/src/controller/http/handler.ts
  api/src/controller/http/middleware.ts
  api/src/controller/http/server.ts
  api/test/config/loader.test.ts
  api/test/controller/http/handler.test.ts
  api/test/controller/http/middleware.test.ts
Labels: enhancement, api

#39 [#35] Remove unwanted response header
  api/src/controller/http/server.ts
Labels: api

#40 [#34] Prevent spoofing client IP
  api/package-lock.json
  api/package.json
  api/src/controller/http/middleware.ts
  api/src/controller/http/server.ts
Labels: api, security

#41 [#31] Controller for server liveness
  api/src/controller/http/health/health.controller.ts
  api/src/controller/http/server.ts
Labels: enhancement, api
