Repository MovieReviewComment/Mr.C, pull requests merged in 2024-03, with the labels that each got.

#211 [#145] Initialize Comment domain components
  api/src/component/component.handler.ts
  api/src/controller/http/server.ts
Labels: enhancement, api

#217 [#213] Add total entry count to comment list response
  api/src/controller/http/comment/response/comment.v1.response.ts
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/test/controller/http/comment/comment.v1.controller.test.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#220 [#219] Modify list comments API response
  api/generate/openapi.json
  api/src/controller/http/comment/schema/comment.v1.schema.ts
Labels: enhancement, api

#222 [#164] Enhance review and reply tables
  api/prisma/migrations/20240207075351_add_foreign_key_user_id_to_review_and_reply_tables/down.sql
  api/prisma/migrations/20240207075351_add_foreign_key_user_id_to_review_and_reply_tables/migration.sql
  api/prisma/migrations/20240303044246_add_foregin_key_review_id_to_reply_table/down.sql
  api/prisma/migrations/20240303044246_add_foregin_key_review_id_to_reply_table/migration.sql
  api/prisma/schema.prisma
Labels: enhancement, api

#223 [#164] Update review domain entities
  api/src/core/entities/review.entity.ts
Labels: enhancement, api

#224 [#164] Add reviewId index to Reply table
  api/prisma/migrations/20240304063438_add_review_id_index_to_reply_table/down.sql
  api/prisma/migrations/20240304063438_add_review_id_index_to_reply_table/migration.sql
  api/prisma/schema.prisma
Labels: enhancement, api

#225 [#164] Implement conversion function for Reply query result to entitiy
  api/src/infrastructure/prisma/prisma.client.ts
Labels: enhancement, api

#226 [#164] Update comment response type to interface
  api/src/core/ports/comment.repository.ts
  api/src/core/services/comment/types.ts
Labels: enhancement, api

#216 [#215] Introduce utils for creating review
  ui/package-lock.json
  ui/package.json
  ui/src/lib/definitions/review.ts
  ui/src/lib/utils/get-review-content.test.ts
  ui/src/lib/utils/get-review-content.ts
  ui/src/lib/utils/validate-review-fields.test.ts
  ui/src/lib/utils/validate-review-fields.ts
Labels: ui

#231 [#230] Update definitions and reflect on UI
  ui/src/components/review/client/review-card.stories.tsx
  ui/src/components/review/client/review-card.tsx
  ui/src/components/skeletons.tsx
  ui/src/lib/definitions/comment.ts
  ui/src/lib/definitions/common.ts
  ui/src/lib/definitions/review.ts
  ui/src/lib/dummy/comment.ts
  ui/src/lib/dummy/review.ts
Labels: ui

#234 [#233] Add Title Component
  ui/src/components/common/client/title.stories.tsx
  ui/src/components/common/client/title.tsx
Labels: ui

#227 [#164] Define interfaces and types for Review and Reply repositories
  api/src/core/ports/reply.repository.ts
  api/src/core/ports/review.repository.ts
  api/src/core/services/review/types.ts
Labels: enhancement, api

#235 [#233] Implement Toast
  ui/src/components/common/client/portal.tsx
  ui/src/components/common/client/toast.stories.tsx
  ui/src/components/common/client/toast.tsx
  ui/src/components/common/client/toaster.tsx
  ui/src/context/common/toast-context.tsx
  ui/src/lib/utils/common/pausible-timer.ts
  ui/tailwind.config.ts
  ui/tsconfig.json
Labels: ui

#236 [#164] Implement create review repository method
  api/src/infrastructure/repositories/postgresql/review.repository.ts
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#237 [#164] Implement find by ID review repository method
  api/src/infrastructure/repositories/postgresql/review.repository.ts
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#240 [#238] Add createReview
  ui/src/lib/apis/review/client.ts
  ui/src/lib/definitions/error.ts
  ui/src/lib/definitions/review.ts
Labels: ui

#239 [#164] Implement find many and count review repository method
  api/src/infrastructure/repositories/postgresql/review.repository.ts
Labels: enhancement, api

#242 [#238] Implement EditorRefContext
  ui/src/context/editor/editor-ref-context.tsx
  ui/src/editor/plugins/editor-ref/index.tsx
  ui/src/editor/plugins/index.tsx
Labels: ui

#241 [#164] Implement tests about find many and count review repository method without filtering conditions
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#243 [#164] Implement tests about find many and count review repository method
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#245 [#238] Implement normalizeWhitespace
  ui/src/lib/utils/common/normalizeWhitespace.ts
  ui/src/lib/utils/common/normarlizeWhitespace.test.ts
Labels: ui

#246 [#164] Implement update review repository method
  api/src/infrastructure/repositories/postgresql/review.repository.ts
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#247 [#164] Implement delete by ID review repository method
  api/src/infrastructure/repositories/postgresql/review.repository.ts
  api/test/infrastructure/repositories/postgresql/review.repository.test.ts
Labels: enhancement, api

#249 [#164] Implement create reply repository method
  api/src/infrastructure/repositories/postgresql/reply.repository.ts
  api/test/infrastructure/repositories/postgresql/reply.repository.test.ts
Labels: enhancement, api

#250 [#164] Implement find by ID reply repository method
  api/src/infrastructure/repositories/postgresql/reply.repository.ts
  api/test/infrastructure/repositories/postgresql/reply.repository.test.ts
Labels: enhancement, api

#248 [#238] Implement useDebouncedCallback
  ui/src/hooks/common/use-debounced-callback.ts
Labels: ui

#252 [#233] Implement ReviewTitle
  ui/src/components/review/client/review-title.tsx
  ui/src/lib/constants/common.ts
  ui/src/lib/constants/review.ts
Labels: ui

#256 [#164] Implement delete by ID reply repository method
  api/src/infrastructure/repositories/postgresql/reply.repository.ts
  api/test/infrastructure/repositories/postgresql/reply.repository.test.ts
Labels: enhancement, api

#255 [#233] Implement CreateReviewButton
  ui/src/components/review/client/create-review-button.tsx
  ui/src/lib/utils/common/error.ts
Labels: ui

#258 [#254] Update actions-netlify to v3 using node v20
  .github/workflows/ui-test.yaml
Labels: ui, infra

#259 [#171] Protect route on client side
  ui/src/context/auth/auth-context.tsx
  ui/src/lib/constants/auth.ts
Labels: ui

#260 [#233] Implement UserSelfChip
  ui/src/components/auth/client/user-self-chip.tsx
  ui/src/components/common/client/title.tsx
  ui/src/components/skeletons.tsx
Labels: ui

#257 [#164] Implement create review service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/src/infrastructure/repositories/postgresql/reply.repository.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#263 [#262] Add loading state on auth
  ui/src/components/auth/client/sign-button.tsx
  ui/src/context/auth/auth-context.tsx
Labels: ui

#264 [#164] Implement get review method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#271 [#266] implement utils for Viewer
  ui/package-lock.json
  ui/package.json
  ui/src/editor/headless/index.tsx
  ui/src/lib/utils/review/get-html.ts
Labels: ui

#273 [#266] Implement Viewer for review content
  ui/src/components/review/server/viewer.tsx
  ui/src/editor/index.tsx
Labels: ui

#270 [#164] Implement get reviews service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#275 [#268] Implement getReview
  ui/src/lib/apis/review/server.ts
  ui/src/lib/definitions/review.ts
Labels: ui

#276 [#164] Implement update review service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#277 [#164] Implement delete review service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#278 [#164] Implement create reply service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#279 [#268] Seperate validateAndGetData and handleApiError to re-use
  ui/src/components/review/client/create-review-button.tsx
  ui/src/context/review/review-context.tsx
  ui/src/hooks/common/use-api-error.ts
  ui/src/lib/utils/review/validate-review-fields.ts
Labels: ui

#283 [#268] Implement updateReview
  ui/src/lib/apis/review/client.ts
  ui/src/lib/definitions/review.ts
Labels: ui

#282 [#164] Implement get replies service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#286 [#285] Add API Dockerfile
  api/.dockerignore
  api/Dockerfile
Labels: api, infra

#288 [#164] Implement update reply service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#289 [#164] Implement delete reply service method
  api/src/core/services/review/review.service.ts
  api/src/core/services/review/types.ts
  api/test/core/services/review/review.service.test.ts
Labels: enhancement, api

#290 [#285] Specify the platform in Dockerfile
  api/Dockerfile
Labels: api, infra

#287 [#285] Add Dockerfile and update nextjs config
  ui/.dockerignore
  ui/Dockerfile
  ui/next.config.mjs
Labels: ui, infra

#291 [#164] Define review domain APIs schema
  api/generate/openapi.json
  api/src/controller/http/review/request/review.v1.request.ts
  api/src/controller/http/review/response/review.v1.response.ts
  api/src/controller/http/review/schema/review.v1.schema.ts
  api/src/core/services/review/types.ts
Labels: enhancement, api

#292 [#164] Implement review v1 handler methods
  api/src/controller/http/review/review.v1.controller.ts
Labels: enhancement, api

#293 [#164] Implement tests about review v1 handler methods
  api/test/controller/http/review/review.v1.controller.test.ts
Labels: api

#295 [#164] Implement reply v1 handler methods
  api/src/controller/http/review/review.v1.controller.ts
Labels: enhancement, api

#296 [#164] Implement tests about reply v1 handler methods
  api/test/controller/http/review/review.v1.controller.test.ts
Labels: api

#297 [#164] Initialize Review domain components
  api/src/component/component.handler.ts
  api/src/controller/http/server.ts
Labels: enhancement, api

#300 [#43] Update dependencies for security vulnerabilities
  api/package-lock.json
  api/package.json
Labels: api

#299 [#298] Add config value for proxy chain length
  api/config/default.yaml
  api/config/test.yaml
  api/src/config/loader.ts
  api/src/config/types.ts
  api/src/controller/http/server.ts
  api/src/controller/http/types.ts
  api/test/config/loader.test.ts
Labels: api, infra

#304 [#302] Update lexical to @0.14.2
  ui/package-lock.json
  ui/package.json
  ui/src/editor/plugins/editor-ref/index.tsx
  ui/src/editor/plugins/index.tsx
Labels: ui

#294 [#267] Implement UpdateReviewButton
  ui/src/components/review/client/update-review-button.tsx
  ui/src/hooks/review/use-update-review-button.ts
Labels: ui

#306 [#302] Add ListPlugin
  ui/src/editor/plugins/index.tsx
Labels: ui

#305 [#302] Add HistoryPlugin
  ui/src/context/editor/editor-history-context.tsx
  ui/src/editor/index.tsx
  ui/src/editor/plugins/history/index.tsx
  ui/src/editor/plugins/index.tsx
Labels: ui

#303 [#233] Extract useCreateReviewButton
  ui/src/components/review/client/create-review-button.tsx
  ui/src/hooks/review/use-create-review-button.ts
Labels: ui

#307 [#302] Add TabIndentationPlugin
  ui/src/editor/plugins/index.tsx
Labels: ui

#310 [#301] Fix flickering on typing
  ui/src/styles/fonts.ts
Labels: bug, ui

#312 [#238] Add content-type on headers
  ui/src/lib/apis/review/client.ts
Labels: bug, ui

#311 [#302] Add MaxLengthPlugin
  ui/src/app/(board)/review/write/page.tsx
  ui/src/components/review/server/viewer.tsx
  ui/src/editor/index.tsx
  ui/src/editor/plugins/index.tsx
  ui/src/editor/plugins/max-length/index.tsx
  ui/src/lib/constants/review.ts
Labels: ui

#308 [#268] Add EditableContext
  ui/src/components/review/client/review-title.tsx
  ui/src/context/editor/editable-context.tsx
  ui/src/hooks/review/use-update-review-button.ts
Labels: ui

#309 [#272] Add prettier plugin for sorting imports order
  ui/.prettierrc
  ui/.storybook/preview.ts
  ui/package-lock.json
  ui/package.json
  ui/src/app/(board)/review/write/page.tsx
  ui/src/app/layout.tsx
  ui/src/components/auth/client/sign-button.tsx
  ui/src/components/auth/client/user-chip.stories.tsx
  ui/src/components/auth/client/user-chip.tsx
  ui/src/components/auth/client/user-self-chip.tsx
  ui/src/components/common/client/client-time.tsx
  ui/src/components/common/client/nav-links.tsx
  ui/src/components/common/client/pagination.tsx
  ui/src/components/common/client/portal.tsx
  ui/src/components/common/client/search-form.stories.tsx
  ui/src/components/common/client/search-form.tsx
  ui/src/components/common/client/sidebar.tsx
  ui/src/components/common/client/title.stories.tsx
  ui/src/components/common/client/title.tsx
  ui/src/components/common/client/toast.tsx
  ui/src/components/common/client/toaster.tsx
  ui/src/components/common/server/header.tsx
  ui/src/components/common/server/time.stories.tsx
  ui/src/components/review/client/review-board-header.tsx
  ui/src/components/review/client/review-card.stories.tsx
  ui/src/components/review/client/review-card.tsx
  ui/src/components/review/client/review-title.tsx
  ui/src/components/review/client/update-review-button.tsx
  ui/src/context/auth/auth-context.tsx
  ui/src/context/common/toast-context.tsx
  ui/src/context/review/review-context.tsx
  ui/src/editor/editor.stories.tsx
  ui/src/editor/index.tsx
  ui/src/editor/nodes/index.tsx
  ui/src/editor/plugins/history/index.tsx
  ui/src/editor/plugins/index.tsx
  ui/src/editor/plugins/markdown-shorcut/index.tsx
  ui/src/editor/theme/index.ts
  ui/src/hooks/common/use-api-error.ts
  ui/src/hooks/common/use-dropdown.ts
  ui/src/hooks/common/use-outside-click.test.tsx
  ui/src/hooks/common/use-pagination.ts
  ui/src/hooks/review/use-update-review-button.ts
  ui/src/lib/dummy/auth.ts
  ui/src/lib/dummy/comment.ts
  ui/src/lib/dummy/review.ts
  ui/src/lib/test-utils/index.ts
  ui/src/lib/utils/common/format-date-to-local.ts
  ui/src/lib/utils/review/get-html.ts
  ui/src/lib/utils/review/get-review-content.test.ts
  ui/src/lib/utils/review/get-review-content.ts
  ui/src/lib/utils/review/validate-review-fields.test.ts
  ui/src/lib/utils/review/validate-review-fields.ts
Labels: ui
