Repository MovieReviewComment/Mr.C, pull requests merged in 2024-02, with the labels that each got.

#146 [#143] Test token renewal in middleware
  api/test/controller/http/middleware.test.ts
Labels: api

#148 [#142] Convert user entity to a class
  api/src/controller/http/user/response/user.v1.response.ts
  api/src/controller/http/user/user.v1.controller.ts
  api/src/core/entities/user.entity.ts
  api/src/core/services/auth/auth.service.ts
  api/src/core/services/user/user.service.ts
  api/src/infrastructure/prisma/prisma.client.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/core/services/user/user.service.test.ts
  api/test/infrastructure/repositories/postgresql/user.repository.test.ts
Labels: enhancement, api

#150 [#144] Introduce Prisma mocking
  api/package-lock.json
  api/package.json
  api/test/core/services/auth/auth.service.test.ts
  api/test/core/services/user/user.service.test.ts
  api/test/infrastructure/prisma/test.prisma.client.ts
Labels: enhancement, api

#149 [#127] Add Time component
  ui/packages/mr-c.app/global-setup.mjs
  ui/packages/mr-c.app/jest.config.mjs
  ui/packages/mr-c.app/package.json
  ui/packages/mr-c.app/src/components/time/client-time.tsx
  ui/packages/mr-c.app/src/components/time/index.tsx
  ui/packages/mr-c.app/src/lib/utils/format-date-to-local.test.ts
  ui/packages/mr-c.app/src/lib/utils/format-date-to-local.ts
  ui/yarn.lock
Labels: enhancement, ui

#151 [#145] Enhance comment table
  api/prisma/migrations/20240207073222_add_foreign_key_user_id_to_comment_table/down.sql
  api/prisma/migrations/20240207073222_add_foreign_key_user_id_to_comment_table/migration.sql
  api/prisma/schema.prisma
  api/src/core/entities/comment.entity.ts
  api/src/infrastructure/prisma/prisma.client.ts
Labels: enhancement, api

#156 [#154] Introduce Storybook
  .github/workflows/ui-test.yaml
  ui/.eslintrc.cjs
  ui/.gitignore
  ui/.storybook/main.ts
  ui/.storybook/preview.ts
  ui/package-lock.json
  ui/package.json
  ui/src/components/time/time.stories.tsx
  ui/src/components/user-chip.stories.tsx
  ui/src/components/user-chip.tsx
Labels: ui, infra

#160 [#159] Introduce bundle analyzer
  ui/.gitignore
  ui/next.config.mjs
  ui/package-lock.json
  ui/package.json
Labels: ui, infra

#161 [#127] Add Header for the layout
  ui/package-lock.json
  ui/package.json
  ui/src/app/(board)/layout.tsx
  ui/src/app/(board)/review/page.tsx
  ui/src/components/layout/header.tsx
  ui/src/components/layout/nav-links.tsx
  ui/src/components/layout/sidebar.tsx
  ui/src/components/logo.tsx
Labels: ui

#169 [#163] Introduce WYSIWYG editor
  ui/package-lock.json
  ui/package.json
  ui/src/components/editor/editor.stories.tsx
  ui/src/components/editor/index.tsx
  ui/src/components/editor/nodes/index.tsx
  ui/src/components/editor/plugins/index.tsx
  ui/src/components/editor/plugins/markdown-shorcut/index.tsx
  ui/src/components/editor/theme/index.ts
  ui/src/styles/editor-theme.css
  ui/src/styles/editor.css
Labels: ui

#158 [#145] Define interfaces and types for User and Comment repositories
  api/src/component/component.handler.ts
  api/src/core/ports/user.repository.ts
  api/src/infrastructure/repositories/postgresql/user.repository.ts
  api/src/jwt/jwt.client.ts
  api/src/jwt/types.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/core/services/user/user.service.test.ts
  api/test/infrastructure/repositories/postgresql/user.repository.test.ts
Labels: enhancement, api

#172 [#171] Make Button for sign in and out work
  ui/next.config.mjs
  ui/src/components/layout/header.tsx
  ui/src/components/layout/sidebar.tsx
  ui/src/components/layout/sign-button.tsx
Labels: ui

#175 [#174] Implement get user without user ID API
  api/generate/openapi.json
  api/src/controller/http/user/response/user.v1.response.ts
  api/src/controller/http/user/schema/user.v1.schema.ts
  api/src/controller/http/user/user.v1.controller.ts
Labels: enhancement, api

#177 [#174] Remove delete user endpoint
  api/generate/openapi.json
  api/src/controller/http/user/response/user.v1.response.ts
  api/src/controller/http/user/schema/user.v1.schema.ts
  api/src/controller/http/user/user.v1.controller.ts
Labels: api

#178 [#174] Indicate authorization mechanism in endpoints
  api/generate/openapi.json
  api/src/controller/http/auth/auth.v1.controller.ts
  api/src/controller/http/auth/schema/auth.v1.schema.ts
  api/src/controller/http/server.ts
  api/src/controller/http/user/schema/user.v1.schema.ts
Labels: enhancement, api

#179 [#145] Define interface and types for Comment repository
  api/src/core/ports/comment.repository.ts
  api/src/core/services/comment/types.ts
Labels: enhancement, api

#180 [#145] Implement create comment repository method
  api/src/infrastructure/repositories/postgresql/comment.repository.ts
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
  api/test/infrastructure/repositories/postgresql/user.repository.test.ts
Labels: enhancement, api

#181 [#145] Implement comment find by ID repository method
  api/src/infrastructure/repositories/postgresql/comment.repository.ts
  api/src/infrastructure/repositories/postgresql/user.repository.ts
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
Labels: enhancement, api

#182 [#145] Implement find many and count comment repository method
  api/src/infrastructure/repositories/postgresql/comment.repository.ts
Labels: enhancement, api

#185 [#171] Add auth context
  ui/.env
  ui/.eslintrc.cjs
  ui/next.config.mjs
  ui/src/app/layout.tsx
  ui/src/components/layout/header.tsx
  ui/src/components/layout/sign-button.tsx
  ui/src/context/auth-context.tsx
  ui/src/lib/apis/auth.ts
  ui/src/lib/definitions/user.ts
  ui/src/lib/dummy/user.ts
Labels: ui

#184 [#145] Implement tests about find many and count comment repository method
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
Labels: enhancement, api

#186 [#145] Implement update comment repository method
  api/src/infrastructure/repositories/postgresql/comment.repository.ts
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
Labels: enhancement, api

#187 [#145] Implement delete by ID comment repository method
  api/src/infrastructure/repositories/postgresql/comment.repository.ts
  api/test/infrastructure/repositories/postgresql/comment.repository.test.ts
Labels: enhancement, api

#190 [#145] Implement create comment service method
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#188 [#162] Add Pagination
  Mr-C.code-workspace
  ui/src/components/layout/pagination.stories.tsx
  ui/src/components/layout/pagination.tsx
  ui/src/hooks/use-pagination.ts
  ui/src/lib/utils/format-date-to-local.test.ts
  ui/src/lib/utils/generate-pagination.test.ts
  ui/src/lib/utils/generate-pagination.ts
Labels: ui

#192 [#145] Implement get comments service method
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#193 [#145] Implement update comment service method
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#194 [#145] Implement delete comment service method
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#195 [#145] Define comment domain APIs schema
  api/generate/openapi.json
  api/src/controller/http/auth/auth.v1.controller.ts
  api/src/controller/http/auth/request/auth.v1.request.ts
  api/src/controller/http/auth/schema/auth.v1.schema.ts
  api/src/controller/http/comment/request/comment.v1.request.ts
  api/src/controller/http/comment/response/comment.v1.response.ts
  api/src/controller/http/comment/schema/comment.v1.schema.ts
Labels: documentation, enhancement, api

#198 [#162] Implement SearchForm
  ui/package-lock.json
  ui/package.json
  ui/src/components/atomic/text.tsx
  ui/src/components/search-form.stories.tsx
  ui/src/components/search-form.tsx
Labels: ui

#200 [#162] Implement sticky header for board layout
  ui/src/components/board-header.tsx
  ui/src/components/review-board-header.tsx
Labels: ui

#201 [#162] Improve UserChip
  ui/src/components/atomic/chip-button.tsx
  ui/src/components/review-board-header.tsx
  ui/src/components/search-form.tsx
  ui/src/components/user-chip.stories.tsx
  ui/src/components/user-chip.tsx
  ui/src/hooks/use-search-more.ts
Labels: ui

#202 [#162] Implement ReviewCard
  ui/src/components/atomic/text.tsx
  ui/src/components/review-card.stories.tsx
  ui/src/components/review-card.tsx
  ui/src/lib/definitions/review.ts
  ui/src/lib/dummy/review.ts
  ui/src/lib/utils/parse-review-content.ts
Labels: ui

#204 [#162] implement listReviews
  ui/src/lib/apis/review/server.ts
  ui/src/lib/definitions/review.ts
Labels: ui

#205 [#203] Split auth.ts for apis
  ui/src/context/auth-context.tsx
  ui/src/lib/apis/auth/client.ts
Labels: ui

#196 [#145] Implement comment v1 controller
  api/generate/openapi.json
  api/src/controller/http/comment/comment.v1.controller.ts
  api/src/controller/http/comment/schema/comment.v1.schema.ts
  api/src/controller/http/middleware.ts
  api/src/core/services/comment/comment.service.ts
  api/src/core/services/comment/types.ts
  api/src/jwt/jwt.client.ts
  api/test/core/services/comment/comment.service.test.ts
Labels: enhancement, api

#206 [#162] Implement review board page
  ui/src/app/(board)/review/page.tsx
  ui/src/components/review-cards-list.tsx
Labels: ui

#208 [#162] Add fallback skeletons for reviews list
  ui/src/app/(board)/review/page.tsx
  ui/src/components/skeletons.tsx
  ui/tailwind.config.ts
Labels: ui

#207 [#145] Tests about comment v1 controller
  api/src/controller/http/comment/comment.v1.controller.ts
  api/test/controller/http/comment/comment.v1.controller.test.ts
Labels: api

#212 [#209] Update ReviewCard not to break UI
  ui/src/components/review-card.tsx
  ui/src/components/skeletons.tsx
  ui/src/components/time/index.tsx
Labels: ui
