Repository MovieReviewComment/Mr.C, pull requests merged in 2024-01, with the labels that each got.

#101 [#88] Implement decode token without verify
  api/src/core/ports/jwt.handler.ts
  api/src/jwt/jwt.client.ts
  api/test/jwt/jwt.client.test.ts
Labels: enhancement, api

#102 [#88] Revise OAuth function signatures
  api/src/config/loader.ts
  api/src/core/ports/google.handler.ts
  api/src/core/services/auth/auth.service.ts
  api/src/infrastructure/google/google.client.ts
  api/src/infrastructure/google/types.ts
  api/test/config/loader.test.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/infrastructure/google/google.client.test.ts
Labels: enhancement, api

#103 [#88] Declare and implement get then delete
  api/src/core/ports/keyValue.repository.ts
  api/src/infrastructure/repositories/redis/keyValue.repository.ts
  api/test/core/services/auth/auth.service.test.ts
Labels: enhancement, api

#104 [#88] Declare and implement user repository method
  api/src/core/entities/auth.entity.ts
  api/src/core/entities/user.entity.ts
  api/src/core/ports/user.repository.ts
  api/src/core/types.ts
  api/src/infrastructure/prisma/errors.ts
  api/src/infrastructure/repositories/postgresql/user.repository.ts
  api/src/jwt/payload.ts
  api/test/jwt/jwt.client.test.ts
Labels: enhancement, api

#105 [#88] Declare and implement exchange auth code
  api/package-lock.json
  api/package.json
  api/src/core/ports/google.handler.ts
  api/src/infrastructure/google/google.client.ts
  api/src/infrastructure/google/types.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/infrastructure/google/google.client.test.ts
Labels: enhancement, api

#106 [#88] Validate Google ID token
  api/src/core/entities/auth.entity.ts
  api/src/core/validator.ts
  api/test/core/validator.test.ts
Labels: enhancement, api

#107 [#88] Implement finalize Google sign in
  api/src/core/services/auth/auth.service.ts
  api/src/core/services/auth/types.ts
  api/test/core/services/auth/auth.service.test.ts
Labels: enhancement, api

#108 [#88] Test finalize Google sign in
  api/test/core/services/auth/auth.service.test.ts
Labels: api

#109 [#88] Implement issue passport
  api/generate/openapi.test.json
  api/package-lock.json
  api/package.json
  api/src/config/loader.ts
  api/src/controller/http/middleware.ts
  api/src/controller/http/server.ts
  api/src/controller/http/types.ts
  api/test/config/loader.test.ts
  api/test/controller/http/handler.test.ts
  api/test/controller/http/middleware.test.ts
Labels: enhancement, api

#110 [#88] Add Google sign-in token and sign-out routes on server
  api/generate/openapi.json
  api/src/controller/http/auth/auth.v1.controller.ts
  api/src/controller/http/auth/request/auth.v1.request.ts
  api/src/controller/http/auth/response/auth.v1.response.ts
  api/src/controller/http/auth/schema/auth.v1.schema.ts
  api/src/controller/http/dev/dev.v1.controller.ts
  api/src/controller/http/dev/schema/dev.v1.schema.ts
  api/src/controller/http/server.ts
  api/src/main.ts
Labels: enhancement, api

#111 [#6] Introduce component handler
  api/prisma/schema.prisma
  api/src/component/component.handler.ts
  api/src/controller/http/server.ts
  api/src/infrastructure/prisma/prisma.client.ts
  api/src/main.ts
Labels: enhancement, api

#113 [#112] Implement authorization information validation
  api/src/core/auth.manager.ts
  api/test/core/auth.manager.test.ts
Labels: enhancement, api

#114 [#112] Add methods to enum
  api/src/component/component.handler.ts
  api/src/core/auth.manager.ts
  api/src/core/entities/auth.entity.ts
  api/src/core/entities/user.entity.ts
  api/src/core/services/auth/auth.service.ts
  api/src/core/types.ts
  api/src/infrastructure/prisma/prisma.client.ts
  api/src/infrastructure/prisma/prisma.transaction.manager.ts
  api/src/infrastructure/prisma/types.ts
  api/src/infrastructure/repositories/postgresql/user.repository.ts
  api/src/jwt/payload.ts
  api/test/core/auth.manager.test.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/jwt/jwt.client.test.ts
Labels: enhancement, api

#115 [#112] Add signatures for user repository methods
  api/src/core/ports/user.repository.ts
  api/test/core/services/auth/auth.service.test.ts
Labels: enhancement, api

#116 [#112] Implement get user service method
  api/src/core/auth.manager.ts
  api/src/core/entities/auth.entity.ts
  api/src/core/services/auth/auth.service.ts
  api/src/core/services/user/user.service.ts
  api/src/jwt/payload.ts
  api/test/core/auth.manager.test.ts
  api/test/core/entities/auth.entity.test.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/core/services/user/user.service.test.ts
  api/test/jwt/jwt.client.test.ts
Labels: enhancement, api

#117 [#112] Implement update user service method
  api/src/core/ports/transaction.manager.ts
  api/src/core/services/auth/auth.service.ts
  api/src/core/services/user/user.service.ts
  api/src/infrastructure/prisma/prisma.transaction.manager.ts
  api/test/core/services/user/user.service.test.ts
Labels: enhancement, api

#118 [#112] Implement delete user service method
  api/src/core/services/user/user.service.ts
  api/test/core/services/auth/auth.service.test.ts
  api/test/core/services/user/user.service.test.ts
Labels: enhancement, api

#123 [#122] Create basic routes
  ui/packages/mr-c.app/src/app/(board)/comment/page.tsx
  ui/packages/mr-c.app/src/app/(board)/review/[id]/edit/page.tsx
  ui/packages/mr-c.app/src/app/(board)/review/[id]/page.tsx
  ui/packages/mr-c.app/src/app/(board)/review/page.tsx
  ui/packages/mr-c.app/src/app/(board)/review/write/page.tsx
  ui/packages/mr-c.app/src/app/(home)/page.tsx
  ui/packages/mr-c.app/src/app/page.tsx
Labels: enhancement, ui

#121 [#120] Set default font
  ui/packages/mr-c.app/src/app/layout.tsx
  ui/packages/mr-c.app/src/fonts/index.ts
Labels: ui

#125 [#124] Add packages for tailwindcss usablity
  ui/.prettierrc
  ui/package.json
  ui/packages/mr-c.app/package.json
  ui/yarn.lock
Labels: ui

#128 Fix typo
  api/README.md
Labels: documentation, api

#129 [#127] Dummy data for rendering landing page
  ui/packages/mr-c.app/src/lib/definitions/comment.ts
  ui/packages/mr-c.app/src/lib/definitions/pagination.ts
  ui/packages/mr-c.app/src/lib/definitions/review.ts
  ui/packages/mr-c.app/src/lib/definitions/user.ts
  ui/packages/mr-c.app/src/lib/dummy/comment.ts
  ui/packages/mr-c.app/src/lib/dummy/review.ts
  ui/packages/mr-c.app/src/lib/dummy/user.ts
Labels: ui

#131 [#126] Update GitHub action workflow
  .github/workflows/api-test.yaml
  .github/workflows/run-test.yaml
  api/README.md
Labels: api, infra

#134 [#126] Add unit test for user repository find by ID
  api/README.md
  api/test/infrastructure/repositories/postgresql/user.repository.test.ts
Labels: enhancement, api

#135 [#126] Add unit tests for user repository
  api/test/infrastructure/repositories/postgresql/user.repository.test.ts
Labels: enhancement, api

#136 [#112] Define user domain API schema
  api/generate/openapi.json
  api/src/controller/http/user/request/user.v1.request.ts
  api/src/controller/http/user/response/user.v1.response.ts
  api/src/controller/http/user/schema/user.v1.schema.ts
Labels: enhancement, api

#137 [#112] Add user domain routes on server
  api/src/component/component.handler.ts
  api/src/controller/http/dev/dev.v1.controller.ts
  api/src/controller/http/server.ts
  api/src/controller/http/user/user.v1.controller.ts
Labels: enhancement, api

#138 [#127] Add Text component
  ui/packages/mr-c.app/package.json
  ui/packages/mr-c.app/src/components/atomic/text.tsx
  ui/packages/mr-c.app/src/components/my-component.test.tsx
  ui/packages/mr-c.app/src/components/my-component.tsx
Labels: enhancement, ui

#141 [#140] Bump up actions/setup-node@v3 to @v4
  .github/workflows/ui-test.yaml
Labels: ui, infra
